// Import helpers
@use "../helpers/mixin" as *; // Import Mixin
@use "../helpers/variables" as *; // Import Variables

// Import Components
@use "../components/button" as *;

.landing {
  position: relative;
  overflow: hidden;

  section {
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 48px;
      margin-top: 112px;

      .info {
        h1 {
          font-size: 55px;
          font-weight: 500;
          color: $Very-Dark-Blue;
          line-height: 1.3;
        }

        p {
          font-size: 22px;
          line-height: 1.4;
          margin: {
            top: 20px;
            bottom: 30px;
          }
          color: $Grayish-Blue;
        }
      }

      .image img {
        display: block;
        z-index: 1;
        position: relative;
      }
    }
  }
}

// Small To medium landing page

@include keep-layout(medium) {
  .landing {
    section .container {
      margin-top: 50px;
      flex-direction: column-reverse;

      .info {
        margin-top: 50px;
        text-align: center;

        h1 {
          font-size: 30px;
        }

        p {
          font-size: 18px;
        }

        button {
          font-size: 14px;
          padding: 10px 12px;
        }
      }

      .image img {
        width: 100%;
      }
    }
  }
}
