// Import Variables
@use "../helpers/variables" as *;

.overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  background-color: $overlay-color;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transform: translateX(-100%);
  transition: $transform-transition;
  z-index: 2;

  img {
    margin-bottom: 30px;

    &:first-child {
      margin-right: 20px;
    }

    &:last-child {
      margin-left: 20px;
    }
  }

  &.active {
    transform: translateX(0%);
  }
}
